* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 200vh;
    display: flex;
    margin: 0px;
    margin-top: 20px;
    overflow: hidden;
    padding: 0px;
}

#home {
    margin-top: 55px;
    font-family: 'Kanit', sans-serif;
    color: white;
    background-color: #202020;
    width: 100%;
    justify-content: space-between;
    display: flex;
    text-align: center;
    height: 200vh
}
/*================Navbar==================*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(#9021da, #2b1470);
}

.navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    margin-right: 2rem;
}

.nav-logo {
    width: 72px;
    height: 72px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

li {
    list-style: none;
}

.nav-branding {
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    font-family: Bitter;
    font-weight: bolder;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: Prompt;
    font-weight: 700;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-left: auto;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
    margin-right: 1.5rem;
}

@media(max-width:1600px) {
    .container {
        width: 100%;
    }
}

@media(max-width:1024px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }


    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #2b1470;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px;
        font-family: 'Prompt', sans-serif;
    }

    .nav-menu.active {
        right: 0;
    }

}

/*===============Rules Page==================*/

